body {
  margin: 0;
}
/*3rd Part*/
.recipe-top {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.recipe-top h2 {
  font-size: 36px;
  color: #676767;
}
.recipe-top p {
  line-height: 25px;
}
.card-holder {
  display: flex;
  margin: 0 100px;
}
.card-holder img {
  width: 100%;
}
.card {
  border-radius: 15px;
  border: solid white;
  box-shadow: 0px 0px 20px 5px rgb(241, 235, 235);
  padding: 20px;
  margin: 30px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 32px;
}
.card h2 {
  font-weight: 900;
}
.card-mid {
  margin: 30px 100px;
}

/* 4th part */
.follow-count {
  font-family: "Montserrat", sans-serif;
  display: flex;
  border: solid white;
  border-radius: 15px;
  margin: 100px;
  text-align: center;
  padding: 64px 165px;
  box-shadow: 0px 0px 20px 5px rgb(241, 235, 235);
}
.count {
  /* margin-right: 30px; */
  margin-left: 15%;
}
.high {
  font-weight: 700;
  font-size: 72px;
  font-display: b;
  margin: 0;
}
.low {
  font-weight: 400;
  font-size: 16;
}

/* css code for footer */

.footer {
  text-align: center;
  background-color: #0b0d17;
  color: white;
  padding-top: 20px;
  padding-bottom: 90px;
}

.footer h1 {
  color: #5b5b5b;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
}
.footer span {
  color: #fb984c;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  line-height: 26px;
}
