body {
  margin: 0;
}
.footer {
  text-align: center;
  background-color: #0b0d17;
  color: white;
  padding-top: 20px;
  padding-bottom: 90px;
}

.footer h1 {
  color: #5b5b5b;
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
}
.footer span {
  color: #fb984c;
}
.footer p {
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}
